
body {
  margin: 0;
  padding: 20px;
}
html {
  font-size: 20px;
}
.tasks__item {
  width: 100%;
}
#task1 p {
  word-break: break-all;
}
.box {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -0.5rem 0;
}
